body{
    background-color:lightsteelblue;
    font: arial;
    font-size: 30px;    
    color:grey;
    text-align: center;  
}

.flex-container {
  display: flex;
  background-color: white(30, 255, 98);
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  background-color:transparent;
  margin: 0px;
  padding: 10px;

}
.limit{
    width: 600px;
    word-wrap: break-word;
}
h1, h3{
    line-height: 20px; 
  }