/**NB: The order of tags matters in CSS*/
body{
    background-color:lightsteelblue;
    font-family: tahoma;
    font-size: 25px;    
    color: gray;
    text-align: center;
    margin: 0;

  /*Make web page fit all screen resolutions */
  width:100%;
  min-width:1000px;
  height:auto;
}
/*Body contents formatting */
.flex-container {
  display: flex;/*Making dividers appear inline with each other*/
  background-color: white(30, 255, 98);
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  background-color:transparent;
  margin: 20px;
  padding: 10px;

}

/*Top navigation bar fromatting*/
.top-navbar{
  display:flex;
  background-color: gray;
  font-size: 15px;
  overflow: hidden;
}
.top-navbar a{
  padding: 10px;
  text-align: center;
  color:white;
}
.top-navbar a:hover
{
  color: black;
  background-color:lightgray;
}

.top-navbar a.active{
  color: white;
  background-color:brown;
}

/*Restricting the size of the paragraph on the home page*/
.limit{
    width: 500px;
    word-wrap: break-word;
}

/*Definig line spacing between heading 1 and 2*/
h1, h3{
    line-height: 20px; 
  }

  .brown_word {
    color:brown;
  }
/*Side bar formatting*/
.side-bar{
  list-style-type:none;
  width: 50px;
  float: right; 
}

.side-bar a{
  display:block; 
  /*background-color:limegreen;*/
  margin:5px;
  padding: 10px;
  margin-left: 150px;
}
.side-bar a:hover{
background-color: aqua;
/*width: 40; For OnClick event
height: 40px;*/
}