/**NB: The order of tags matters in CSS*/
body{
    background-color:lightsteelblue;
    font-family: tahoma;
    font-size: 25px;    
    color: gray;
    text-align: center;
    margin: 0;

  /*Make web page fit all screen resolutions */
  width:100%;
  min-width:1000px;
  height:auto;
}
/*Body contents formatting */
.flex-container {
  display: flex;/*Making dividers appear inline with each other*/
  justify-content: center;
  align-items: center;

}

.flex-container > div {
 /* background-color:transparent;*/
  padding: 10px;

}

/*Top navigation bar fromatting*/
.top-navbar{
  display:flex;
  background-color: gray;
  font-size: 15px;
  overflow: hidden;
}
.top-navbar a{
  padding: 10px;
  text-align: center;
  color:White;
  font-weight: bold; 
}
.top-navbar a:hover,.dropdown:hover,.dropdown:hover .btnContact, .btnContact:focus{
  color: black;
  background-color:lightgray;
}

.top-navbar a.active{
  color: white;
  background-color:brown;
 
}
.top-navbar a.projects{
    text-decoration: none;
   
  }
  .dropdown{
    float: left;
    overflow: hidden;
  }
 .dropdown .btnContact{
   cursor: pointer;
   font-size:15px;
   border: none;
   outline: none;
   color: white;
   padding: 10px;
   background-color:inherit;
   font-family:inherit;
   margin: 0;
   text-align: center;
   font-weight: bold;
 }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
 .dropdown-content a{
    float: none;
    color: White;
    padding: 11px 15px;
    display: block;
    text-align:left;
 }
 .dropdown-content a:hover{
   color: black;
   background-color: lightgray;
 }

/*Restricting the size of the bio paragraph on the home page*/
.bio{
    width: 500px;
    height: 500px;
    word-wrap: break-word;
    overflow-x: auto;
    overflow-y: auto;
}

/*Definig line spacing between heading 1 and 2*/
h1, h3{
    line-height: 20px; 
  }

/*Social media icons styling*/
.side-bar{
  list-style-type:none;
  width: 75px;
  float: right; 
  background-color:gray;
  margin:5px;
  padding: 10px;
}

.side-bar a{ 
  width: 60px;
  padding: 10px;
  margin: 5px;
}

.fa-linkedin:hover,.fa-twitter:hover,.fa-facebook:hover{
    color: black;
}

hr{
  display:flex;
  margin-left: auto;
  margin-right: auto;
  border-style:outset;
  border-width: 1px;
}

footer{
  font-size: 15px;
  margin-bottom: 10px;
  color: brown;
}

.footer a{
  text-decoration: none;
  color: inherit;
}